{% extends 'base.html' %}
{% load static %}
{% block title %}
Profile
{% endblock %}

{% block content %}

<section class="bg-dark">
    <div class="container pb-5">


        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <img src="{% static 'pngfind.com-user-icon-png-2924933.png' %}"
                             alt="avatar"
                             class="rounded-circle img-fluid" style="width: 150px;">
                        {% if member_detail is not None %}
                            <h5 class="my-3 text-dark">{{ member_detail.first_name }} {{ member_detail.last_name }}</h5>
                        {% else %}
                            <h5 class="my-3 text-dark">No data is submitted</h5>
                        {% endif %}

                    </div>
                </div>
            </div>
            <div class="col-lg-8">

                <div class="row">
                    <div class="text-center">

                        <h3 class="text-light mb-5 border-bottom border-light border-1 w-50 mx-auto mt-5 pb-3">Your
                            bookings
                            </h3>
                    </div>
                    <br>
                    {% for booking in bookings %}
                    <div class="col-md-6">
                        <div class="card mb-5">
                            <div class="card-body text-dark">
                                <div class="row d-flex">
                                    <div class="col-6">
                                        <p class="font-italic me-1 text-dark text-start ms-2">
                                            Code: {{ booking.id }}
                                        </p>
                                    </div>
                                    <div class="col-6">
                                        <p class="font-italic me-1 text-end me-2">
                                            Date: {{ booking.date }}
                                        </p>
                                    </div>
                                </div>

                                <div class="row d-flex">
                                    <div class="col-6">
                                        <p class="font-italic me-1 text-dark text-start ms-2">
                                            Number of people: {{ booking.number_of_people }}
                                        </p>
                                    </div>
                                    <div class="col-6">
                                        <p class="font-italic me-1 text-end me-2">
                                            Status: {{ booking.booking_status }}
                                        </p>
                                    </div>
                                </div>

                                <div class="row d-flex mt-3">
                                    <div class="col-6">
                                        <p class="font-italic me-1 text-dark text-start ms-2">
                                            Total: {{ booking.total }} T
                                        </p>
                                    </div>

                                </div>


                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="card mb-4">
                    <form class="p-5 text-dark" action="" method="post" novalidate>
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" class="btn btn-outline-dark mt-4" value="Update">
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}